.frggr {
  margin: auto;
  position: relative;
  //overflow: hidden;

  &-actor {
    position: absolute;
    overflow: hidden;

    &-sprite {
      image-rendering: pixelated;
      position: absolute;
      content: url('src/assets/frggr-sprites.png');
    }
  }
  &-player {
    &.up {
      transform: rotate(0);
    }
    &.down {
      transform: rotate(0.5turn);
    }
    &.right {
      transform: rotate(0.25turn);
    }
    &.left {
      transform: rotate(-0.25turn);
    }
    & > img.jump {
      animation: sprite-x2 200ms steps(2) 1;
    }
  }

  &-lane {
    animation: linear infinite;
    animation-duration: 4s;
    animation-name: move-left;

    &.to-right {
      animation-name: move-right;

      & > div {
        transform: rotate(0.5turn);
      }
    }
  }

  @keyframes sprite-x2 {
    to {
      transform: translate3d(-20%, 0, 0);
    }
  }

  @keyframes move-left {
    to {
      transform: translate3d(-100%, 0, 0);
    }
  }

  @keyframes move-right {
    from {
      transform: translate3d(-100%, 0, 0);
    }
  }
}
