.frggr {
  margin: auto;
  position: relative;

  &-actor {
    position: absolute;
    overflow: hidden;

    &-sprite {
      image-rendering: pixelated;
      position: absolute;
      content: url('src/assets/frggr-sprites.png');
    }
  }
  &-player {
    &.up {
      transform: rotate(0);
    }
    &.down {
      transform: rotate(0.5turn);
    }
    &.right {
      transform: rotate(0.25turn);
    }
    &.left {
      transform: rotate(-0.25turn);
    }
    & > img.jump {
      animation: sprite-x2 200ms steps(2) 1;
    }
  }

  &-car {
    animation: linear infinite;
    animation-name: move-left;
    animation-duration: 5s;
  }

  @keyframes sprite-x2 {
    to {
      transform: translate3d(-33.3%, 0, 0)
    }
  }

  @keyframes move-left {
    to {
      transform: translate3d(-100%, 0, 0);
    }
  }
}
