:root {
  --black: #1e1e1e;
  --white: rgba(255, 255, 255, 0.87);

  // from top to bottom
  --fr-area-1: #03350f;
  --fr-area-2: #382db5; //river
  --fr-area-3: #4a1705; //bricks
  --fr-area-4: #000; //road
}
