:root {
  --black: #1E1E1E;
  --white: rgba(255, 255, 255, 0.87);
  
  // from top to bottom
  --fr-area-1: #03350F;
  --fr-area-2: #382DB5; //river
  --fr-area-3: #4A1705; //bricks
  --fr-area-4: #000; //road

}